</main>
        <hr>
        <footer>
            <p>
                <strong>Disclaimer:</strong> Some information was taken from the wikipedia page for programming languages: <a href="https://en.wikipedia.org/wiki/Programming_language">Here</a>
            </p>
            
            <p>
                <strong>Contact Information:<strong><br>
                <%=name%><br>
                <%=email%><br>
                <%=phone%><br>
            </p>
            
        </footer>
        <!--<marquee> Made by Joey Thomas</marquee>-->
    </body>
    
</html>