            <% include partials/header.ejs %>
            <figure id="me">
                <img id="rounded-corners" src="img/CPlusPlus.jpg" alt="C++ Logo">
            </figure>
            
            <div id = "paragraphText">
                One programming language that is still extremely popular today is C++. C++ was designed with a bias toward:
                <br>
                <ul>
                    <li>System programming</li>
                    <li>Embedded resource-constrained software</li>
                    <li>Large systems</li>
                </ul>
                <br> <br>
                From research/ personal experience C++ is really useful when:
                <ul>
                    <li>Dealing with memory management.</li>
                    <li>Creating a project that requires efficiency.</li>
                    <li>More recently, a lot of programs that use VR tend to use C++.</li>
                </ul>
            </div>
        <% include partials/footer.ejs %>