<% include partials/header.ejs %>
            <figure id="me">
                <img src="img/popularLanguages.jpg" alt="Statistics of usage of programming languages">
            </figure>
            
            <p id="paragraphText">
                A programming language is a type of language that is used to talk to computers, so that produce various kinds of meaningful output. Programming languages are used in computer programming to implement algorithms.
                <br> <br>
                Most programming languages consist of instructions for computers. There are programmable machines that use a set of specific instructions, rather than general programming languages.
                <br> <br>
                Thousands of different programming languages have been created, and more are being created every year. Some of the most popular ones to date are Java, Python, and C++.
            </p>
<% include partials/footer.ejs %>