
            <% include partials/header.ejs %>
            <figure id="me">
                <img id="rounded-corners" src="img/java.jpg" alt="Java Logo">
            </figure>
            
            <div id = "paragraphText">
                One programming language that is still extremely popular today is Java. Java is a general-purpose programming language that is:
                <br>
                <ul>
                    <li>Class-based</li>
                    <li>Object-oriented</li>
                    <li>Designed to have as few implementation dependencies as possible.</li>
                </ul>
                <br>
                From research/ personal experience Java is really useful when:
                <ul>
                    <li>Building client-server web applications</li>
                    <li>Building programs that involve a multitude of hierarchies and need polymorphism</li>
                    <li>Need to have something work on multiple platforms.</li>
                </ul>
            </div>
            <% include partials/footer.ejs %>