            <% include partials/header.ejs %>
            <figure id="me">
                <img id="rounded-corners" src="img/python.jpg" alt="Python Logo">
            </figure>
            
            <div id = "paragraphText">
                One programming language that is still extremely popular today is Python. Python is an interpreted, high-level, general-purpose programming language that is highly used because of:
                <br>
                <ul>
                    <li>Its object-oriented nature</li>
                    <li>How it emphasizes code readability</li>
                    <li>Its ability to support multiple programming paradigms</li>
                </ul>
                <br> <br>
                From research/ personal experience Python is really useful when:
                <ul>
                    <li>Something needs to be written quickly (python code tends to be much quicker to write than other languages because of it's simplicity)</li>
                    <li>One needs to pick up a first or second language (Python is used most in a lot of places)</li>
                    <li>Really good for most anything, it just tends to be much slower than many other programming languages</li>
                </ul>
            </div>
            <% include partials/footer.ejs %>